lab10/target/classes/lab10.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    <flow name="Web_Service_Server" doc:name="Web_Service_Server">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="terminals" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="com.mulesoft.training.soap.AirportTerminalService" doc:name="CXF"/>
        <component class="com.mulesoft.training.soap.AirportTerminal" doc:name="Java"/>
    </flow>
    <flow name="Web_Service_Client_listAll" doc:name="Web_Service_Client_listAll">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="listAllTerminalStatuses" doc:name="HTTP"/>
        <response>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </response>
        <cxf:jaxws-client operation="listAllTerminalStatuses" serviceClass="com.mulesoft.training.soap.AirportTerminalService" doc:name="CXF"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="terminals" method="POST" doc:name="HTTP"/>
    </flow>
    <flow name="Web_Client_FindClient" doc:name="Web_Client_FindClient">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="clientfind" doc:name="HTTP"/>
        <response>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </response>
        <set-payload value="#[message.inboundProperties.terminal]" doc:name="Set Payload"/>
        <cxf:jaxws-client operation="findTerminalStatus" serviceClass="com.mulesoft.training.soap.AirportTerminalService" doc:name="CXF"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" doc:name="HTTP" path="terminals"/>
    </flow>
    <flow name="JMS_Server" doc:name="JMS_Server">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="terminal.queue" doc:name="JMS" connector-ref="Active_MQ"/>
        <cxf:jaxws-service serviceClass="com.mulesoft.training.soap.AirportTerminalService" doc:name="CXF"/>
        <component class="com.mulesoft.training.soap.AirportTerminal" doc:name="Java"/>
    </flow>
    <flow name="JMS_Client_listAll" doc:name="JMS_Client_listAll">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="listAllJMS" doc:name="HTTP"/>
        <response>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </response>
        <cxf:jaxws-client doc:name="CXF" operation="listAllTerminalStatuses" serviceClass="com.mulesoft.training.soap.AirportTerminalService"/>
        <jms:outbound-endpoint queue="terminal.queue" connector-ref="Active_MQ" doc:name="JMS" exchange-pattern="request-response"/>
    </flow>
</mule>
